export AELITA_GITHUB_CLIENT_ID=XXX
export AELITA_GITHUB_CLIENT_SECRET=XXX2
export AELITA_BOT_USERNAME=XBot
export AELITA_BOT_BASEURL=http://xbot.xbot/
export AELITA_BOT_DBURI=sqlite:///`pwd`/xbot.sqlite
export AELITA_BOT_ACCESS_TOKEN=XXX3
export AELITA_VIEW_SECRET=XXX4

