<!DOCTYPE html>
<title>No more broken master &mdash; Aelita</title>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css>
<link rel=stylesheet href=/static/style2.css>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes aria-role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/login" class="clearfix" method="POST"><button class="tb tbg">Log in</button></form>
<div class=superbuttonwrap>
<img
  src="/static/no-more-broken-master.min.svg"
  alt="No more broken master"
  width="225"
  height="225">
</div>
<h1>Automatically maintain a master branch that always passes all the tests</h1>
<div class="row">
<section class="section media" style="width:200px">
<img
  src="/static/github-step-1.min.svg"
  width="200"
  height="200"
  alt="">
<p class="media-content">Contributors open pull requests like normal.</p>
</section>
<section class="section media" style="width:200px">
<img
  src="/static/github-step-2.min.svg"
  width="200"
  height="200"
  alt="">
<p class="media-content">Reviewers approve them.</p>
</section>
<section class="section media" style="width:200px">
<img
  src="/static/github-step-3.min.svg"
  width="200"
  height="200"
  alt="">
<p class="media-content">Aelita runs the tests on Travis CI.</p>
</section>
<section class="section media" style="width:200px">
<img
  src="/static/github-step-4.min.svg"
  width="200"
  height="200"
  alt="">
<p class="media-content">It merges it or links to the errors.</p>
</section>
</div>
<div class=superbuttonwrap>
<a class=superbutton href="https://gitter.im/aelitabot/invite-requests">Join the alpha!</a>
</div>
