<!DOCTYPE html>
<title>No more broken master &mdash; Aelita</title>
<meta name=viewport content=width=device-width>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css>
<script src=/static/invite-dialog.js></script>
<link rel=stylesheet href=/static/style3.css>
<form action="/logout" method="POST"><button class="tb tbg">Log out</button></form>
{% if invite_count > 0 %}
<button class="tb tbg" id="showInviteDialog">Invite</button>
<dialog id="invite_dialog" aria-role="dialog">
<h3>{{invite_count}} remaining invites</h3>
<form action="/invite" method="POST">
<table class=blank>
<tr>
<td width="100%"><input placeholder="Github username" name="username"></td>
<td><button>Invite</button></td>
</tr>
</table>
</form>
<button class="tk" aria-label="Close" id="closeInviteDialog">
    &times;
</button>
</dialog>
{% endif %}
<h1>{{ username }}</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes aria-role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if edit %}
<form action="" method="POST">
<h2>{{ edit.name }}</h2>
<table class=blank aria-role="main">
<tr>
<td align=right aria-role="presentation">&rarr;</td>
<td><a href="{{ base_url }}/{{ edit.name }}">Show queue</a></td>
</tr>
<tr>
<td align=right><label for=context>Required context</label></td>
<td width="100%"><input
    type=text
    name=context
    id=context
    value="{{ edit.context }}"
></td>
</tr>
<tr>
<td align=right><label for=master>Master branch</label></td>
<td width="100%"><input
    type=text
    name=master_branch
    id=master_branch
    value="{{ edit.master_branch }}"
></td>
</tr>
<tr>
<td align=right><label for=staging>Staging branch</label></td>
<td width="100%"><input
    type=text
    name=staging_branch
    id=staging_branch
    value="{{ edit.staging_branch }}"
></td>
</tr>
<tr>
<td aria-role="presentation"></td>
<td><button name="edit" value="{{ edit.id }}">Save</button></td>
</table>
</form>
{% else %}
<form action="" method="POST">
<table class=table aria-role="main">
    <thead>
        <tr><th></th><th>Repo</th></tr>
    </thead>
    <tbody>{% for repo in non_present %}
        <tr>
            <td class="fill-link f">
                <button
                    name="add"
                    value="{{ repo.id }}"
                    class=tb
                    aria-label="Add"
                    title="Add"
                >
                    &check;
                </button>
            </td>
            <td>{{ repo.name }}</td>
        </tr>
    {% endfor %}
    {% for repo in present %}
        <tr>
            <td class="fill-link f">
                <button
                    name="remove"
                    value="{{ repo.id }}"
                    class="tb tbb"
                    aria-label="Remove"
                    title="Remove"
                >
                    &times;
                </button>
            </td>
            <td class=fill-link>
                <a
                    aria-label="Edit {{ repo.name }}"
                    href="?edit={{ repo.id }}"
                >
                    {{ repo.name }}
                </a>
            </td>
        </tr>
    {% endfor %}</tbody>
</table>
</form>
{% endif %}
<h2>Usage</h2>
<p>Once <code>@aelita-mergebot</code> is enabled on a repo,
instead of merging pull requests, say a command to it in a comment.</p>
<dl>
<dt><code>@aelita-mergebot r+</code></dt>
<dd>Add the pull request to the merge queue.</dd>
<dt><code>@aelita-mergebot r=@username</code></dt>
<dd>Add the pull request as "username."</dd>
<dt><code>@aelita-mergebot r-</code></dt>
<dd>Cancel the pull request.</dd>
</dl>
