<!DOCTYPE html>
<meta charset=utf-8>
<title>No more broken master &mdash; Aelita</title>
<meta name=viewport content=width=device-width>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css>
<script src=/static/manage.js></script>
<link rel=stylesheet href=/static/style5.css>
<form action="/logout" method="POST"><button class="secondary-btn">Log out</button></form>
{% if invite_count > 0 %}
<button class="secondary-btn openDialog" data-target="invite_dialog">Invite</button>
<dialog id="invite_dialog" aria-role="dialog">
<h3>{{invite_count}} remaining invites</h3>
<form action="/invite" method="POST">
<table class=blank>
<tr>
<td width="100%"><input placeholder="Github username" name="username"></td>
<td><button>Invite</button></td>
</tr>
</table>
</form>
<button class="close-btn closeDialog" aria-label="Close" data-target="invite_dialog">
    &times;
</button>
</dialog>
{% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes aria-role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if owner_defs %}
<aside class=aside>
    <nav class=menu>
        {% for owner_def in owner_defs %}
            {% if filter_owner == owner_def.login %}
            <a class="active item">{{ owner_def.login }}</a>
            {% else %}
            <a class="item" href="?owner={{ owner_def.login }}">
                {{ owner_def.login }}
            </a>
            {% endif %}
        {% endfor %}
    </nav>
    <h2>Usage</h2>
    <p>
        Once <code>@aelita-mergebot</code> is enabled on a repo,
        instead of merging pull requests, say a command to it in a comment.
    </p>
    <dl>
        <dt><code>@aelita-mergebot r+</code></dt>
        <dd>Add the pull request to the merge queue.</dd>
        <dt><code>@aelita-mergebot r=@username</code></dt>
        <dd>Add the pull request as "username."</dd>
        <dt><code>@aelita-mergebot r-</code></dt>
        <dd>Cancel the pull request.</dd>
    </dl>
</aside>
<article class=block-formatting-context>
{% endif %}
{% if edit %}
<h1>{{ edit.name }}</h1>
<form action="" method="POST">
<table class=blank aria-role="main">
<tr>
<td align=right><label for=contexts>Required context(s)</label></td>
<td width="100%">
    <input
        type=text
        name="contexts"
        id="contexts"
        value="{{ edit.contexts }}"
    >
</td>
</tr>
<tr>
<td align=right><label for=master>Master branch</label></td>
<td width="100%"><input
    type=text
    name=master_branch
    id=master_branch
    value="{{ edit.master_branch }}"
></td>
</tr>
<tr>
<td align=right><label for=staging>Staging branch</label></td>
<td width="100%"><input
    type=text
    name=staging_branch
    id=staging_branch
    value="{{ edit.staging_branch }}"
></td>
</tr>
<tr>
<td aria-role="presentation"></td>
<td><button name="edit" value="{{ edit.id }}">Save</button></td>
</tr>
</table>
</form>
{% else %}
<h1>{{ repo_defs|length }} <weak>Repositories</weak></h1>
<p>Turn <a href="https://travis-ci.org/profile/{{ filter_owner }}">Travis CI</a> on, then turn the switch on here.</p>
<form action="" method="POST">
<table class=blank aria-role="main">
    {% for repo in repo_defs %}
        {% if repo.present %}
        <tr>
            <td class="fill-link switch-btn-width">
                <button
                    name="remove"
                    value="{{ repo.id }}"
                    class="switch-btn switch-btn-on"
                    title="Remove"
                >
                    <span>On</span>
                </button>
            </td>
            <td class="fill-link switch-btn-width">
                <a
                    aria-label="Edit"
                    title="Edit"
                    href="?edit={{ repo.id }}"
                    class="empty-btn double-size"
                >
                    ⚙
                </a>
            </td>
            <td class=fill-link>
                <a href="{{ base_url }}/{{ repo.name }}">
                    {{ repo.name }}
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td class="fill-link switch-btn-width">
                <button
                    name="add"
                    value="{{ repo.id }}"
                    class="switch-btn switch-btn-off"
                    title="Add"
                >
                    <span>Off</span>
                </button>
            </td>
            <td class="switch-btn-width">
                <span class="empty-btn-disabled double-size">⚙</span>
            </td>
            <td>{{ repo.name }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
</form>
{% endif %}
{% if owner_defs %}
</article>
{% endif %}
