aelita-mergebot.xyz:80 {
    #tls info@aelitabot.xyz
    tls off
    proxy /github-notice http://aelita:6000
    proxy /github-status http://aelita:5000
    proxy / http://aelita:8000/
}

aelitabot.xyz:80 {
    #tls info@aelitabot.xyz
    tls off
    proxy / http://signup:8000 {
        proxy_header Host {host}
    }
    gzip
}

www.aelitabot.xyz:80, www.aelita-mergebot.xyz:80 {
    #tls info@aelitabot.xyz
    tls off
    redir https://aelitabot.xyz/{uri} 301
}

