aelita-mergebot.xyz {
    tls info@aelitabot.xyz
    proxy /github-notice http://aelita:6000
    proxy /github-status http://aelita:5000
    redir / https://aelitabot.xyz/ 301
    proxy / http://aelita:8000/
}

aelitabot.xyz {
    tls info@aelitabot.xyz
    proxy / http://signup/
    gzip
}

www.aelitabot.xyz, www.aelita-mergebot.xyz {
    tls info@aelitabot.xyz
    redir https://aelitabot.xyz/{uri} 301
}

